/*mobile view*/
/*

* {
  box-sizing: border-box;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin-inline: auto;
  margin: 20px;
}

*/

/*
    align-self: stretch;
    object-fit: cover;
    display: flex;
    */
